import * as monaco from 'monaco-editor';

const {{toolName}}Conf: monaco.languages.LanguageConfiguration = {
  comments: {
    // Cofigure comments on your language
  },
  brackets: [
    // Configure brackets for your language
  ],
  autoClosingPairs: [
    // Configure auto-closing pairs for your language
  ],
  surroundingPairs: [
    // Configure surrounding pairs for your language
  ],
};

const {{toolName}}Lang: monaco.languages.IMonarchLanguage = {
  keywords: [
    // List of keywords for your language
  ],

  operators: [
    // List of operators for your language
  ],

  // Main tokenizer
  tokenizer: {
    root: [
      // identifiers and keywords if your language supports them

      // whitespace if your language supports them
      
      // delimiters and operators if your language supports them

      // numbers if your language supports them
      
      // delimiter: after number because of .\d floats
  
      // strings if your language supports them
      
      // characters if your language supports them
    ],

    comment: [
      // block comments if your language supports them
    ],

    string: [
     // strings if your language supports them
    ],

    whitespace: [
      // whitespace handling if your language supports them
    ],
  },
};

export { {{toolName}}Conf, {{toolName}}Lang };
