<template name="frameNavigation">
    <div class="frame-navigation row {{showFrameNavigation}}">
        <button id="previousFrame" class="cbutton" {{prevFrameEnabled}}>
    	    <i class="cbutton__icon fa fa-fw fa-step-backward auto-margin"></i>
	    </button>
        <select class="framePickerTarget">
        </select>
        <p class="current-frame">{{currentFrame}}</p>
        <button id="nextFrame" class="cbutton" {{nextFrameEnabled}}>
    	    <i class="cbutton__icon fa fa-fw fa-step-forward auto-margin"></i>
	    </button>
    </div>
</template>