.modal-content {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.modal-header {
  border-bottom: 1px solid var(--border-color);
}

.modal-footer {
  border-top: 1px solid var(--border-color);
}

.modal-title {
  color: var(--foreground-color);
}

.btn-close:hover {
  color: var(--select-hover);
}

.modal-body p {
  color: var(--primary-text-color);
}
.modal-header .btn-close {
  display: none;
}

.modal-footer .btn {
  box-shadow: none;
}
