.toggle-container{
    position: relative;
}

.toggle{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle + label{
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--primary-text-color)
}

.toggle + label:before{
  content: '';
  width: 2em;
  height: 1em;
  border-radius: 1em;
  background-color: var(--secondary-text-color);
  position: relative;
  transition: background-color .2s;
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle + label:after{
  content: '';
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--primary-text-color);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label:after{
  transform: translateX(100%);
}