<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link
      rel="stylesheet"
      data-name="vs/editor/editor.main"
      href="./static/node_modules/monaco-editor/min/vs/editor/editor.main.css"
      />
    <link href="./static/css/main.css" rel="stylesheet" />
    <link href="./static/css/bootstrap.css" rel="stylesheet" />
    <link href="./static/css/footer.css" rel="stylesheet" />
    
    <title>FM Playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="d-flex flex-column h-100">
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-light">
        <h1>FM Playground</h1>
        <form class="form-inline">
          <a class="gh-button" href="https://github.com/se-buw/fm-playground"><span class="gh-button__icon"></span>Github</a>
        </form>
      </nav>
      <div class="grid">
        <hr class="sketch-rule grid__item">
      </div>

      <!-- Select Checking -->
      <form style="height: 3em">
        <div class="row">
          <div class="col">
            <select
              tabindex="1"
              id="select_wrapper"
              class="form-control"
              onchange="handleOptionChange(this)"
            ></select>
          </div>
        </div>
      </form>

      <div class="row" style="margin-top: 10px">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h2>Input</h2>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn btn-outline-dark" id="upload-btn" onclick="uploadFile()">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>
                  </span>
                </button>
                <button class="btn btn btn-outline-dark" id="download-btn" onclick="downloadFile()">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                  </span>
                </button>
              </div>
            </div>
          </div>
          
          <div
            tabindex="0"
            class="js-auto-size monacoContainer"
            id="input"
          ></div>
        </div>
        <div class="col-md-6">
          <div id="stdout_area">
            <h2>Output </h2>
            <small ><a class="hidden" id="smv-copyright" href="./static/nusmv-copyright.txt" target="_blank">NuSMV Copyright Notice</a></small >
            
            <textarea
              readonly
              tabindex="3"
              class="form-control js-auto-size"
              id="stdout"
            ></textarea>
            <pre class="infoContents" id="info">
          </div>
          <div id="stderr_area">
            <h2 id="header_error">Errors</h2>
            <textarea
              readonly
              tabindex="4"
              class="form-control js-auto-size"
              id="stderr"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 2px; padding-bottom: 50px">
        <div class="col-md-6">
          <div class="control">
            <button tabindex="0"
            type="button"
            class="btn btn-primary btn-block"
            onclick="run_();"
            id="run-btn">Run</button>
          </div>
          <div class="copy-text">
            <input type="text" class="text" id="permalink" value="" readonly/>
            <button class="copy" onclick="copy_permalink();">
              <span data-text-end="Copied!" data-text-initial="Copy to clipboard" class="tooltip"></span>
              <span>
                <svg xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 6.35 6.35" y="0" x="0" height="20" width="20" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" class="clipboard">
                  <g>
                    <path fill="currentColor" d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"></path>
                  </g>
                </svg>
                <svg xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="18" width="18" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" class="checkmark">
                  <g>
                    <path data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                  </g>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>

      <!-- Resource Guide -->
      <h3>Guide</h3>
      <div class="guide-wrapper" id="resource-guide-wrapper">
        <!--Fetch with xhr-->
      </div>
    </div>
    

    </div>

    <footer class="container bg-muted text-dark text-center">
      <div class="text-center p-3">
        Made with ♥ in Bauhaus-Universität Weimar
        <br />
        Privacy Policy: This website logs the code and options, which may be analyzed and made public for research purposes. 
        Do not share confidential information. However, it does not collect any personally identifiable information.
        <br />
          Acknowledgments: <a href="https://github.com/maximaximal/limboole" class="text-muted" target="_blank">limboole</a> 
          <a href="https://github.com/Z3Prover/z3" class="text-muted" target="_blank">z3</a>, 
          <a href="https://github.com/bramvdbogaerde/z3-wasm" class="text-muted" target="_blank">z3-wasm</a>,
          <a href="https://nuxmv.fbk.eu/" class="text-muted" target="_blank">nuXmv</a>
        </div>
    </footer>

    <script>
      var require = { paths: { vs: 'static/node_modules/monaco-editor/min/vs' } };
    </script>
    <script src="./static/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="./static/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="./static/node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="./static/node_modules/monaco-editor/min/vs/base/worker/workerMain.js"></script>
    <script src="./limboole.js"></script>
    <script src="./main.js"></script>
    <script src="./z3.js"> </script>
    <script src="./coi-serviceworker.js"></script>
  </body>
</html>
